/* CSS declarations go here */
body {
    /*padding: 60px;*/
}

.header {
	color: #fff;
}

nav {
  height: 100px;
}

#index-banner h1{
  color: white
}
.card {
	width: 22%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 20px;
}

.card .card-content p {
	margin-bottom: 1em;
}
