/* CSS declarations go here */
body {
    /*padding: 60px;*/
}

.header {
	color: #fff;
}

nav {
  height: 100px;
}

#newtext {
  font-family: 'Arial';
}


table {
  list-style-type: none;
  padding:15px;
  border-collapse: collapse;
}
#newroom {
  background-color:white;
}

#post {
  /*background-color: color-primary-0;
  font-color: #ffffff;*/
  background-color: #1D3671 ;
    color:white;
     border-radius: 10px;
}

.card-image, .card-image img {
	position: relative;
}

.well {
  background-color:white;
}

.next-chat {
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.next-chat.not-available {
	background-color: #FF0000;
}

.brand-font {
  font-family: 'Cookie', cursive;
  font-size: 72pt;
}

#brand-logo {
  margin-top: 16px;
  margin-right: 120px;
  font-size: 32pt;
}

.navbar {
	font-size: 24pt;
	margin-top: 16px;
	font-family: 'Cookie'
}
.main-cardlist .card {
	width: 22%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 20px;
  font-size: 16pt;
  font-family: "Arial";
}

.login-link-text {
	font-size: 30px;
	text-decoration: none !important;
}

.main-cardlist .card.small .card-content {
	padding: 12px;
}

.score, .voting {
	float: left;
	width: 50%;
}

.controls-wrapper {
	margin-bottom: 10px;
}


.jumbotron {
	font-family:"Lucida Sans Unicode";
}

.login-link-text {
	font-size: 24pt;

}

/*css from the website for search bar*/
  #tfheader{
    /*background-color:#c3dfef;*/
    background-color:#ffffff;
  }
  #tfnewsearch{
    float:center;
    padding:20px;
  }

  .tftextinput{
    margin: 5px;
    font-family: "Lucida Sans Unicode";
    font-size: 20pt !important;
    color: #ffffff;
  }

  .tfbutton {
    margin: 0;
    font-family: 'Cookie';
    font-size: 20pt;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  }
  .tfbutton:hover {
    text-decoration: none;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }
input.inputblur {
	font-size: 20pt;
	font-weight: bold;
}

.logo {
  margin-right:120;
  float:right;
  vertical-align:right !important;
}

.score {
  font-size: 14pt;
  font-family:"Arial";

}
.waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: color-primary-1;
    }

.contribute {
  font-family: 'Cookie';
  font-size: 48pt;
}

.text {
  font-family:"Lucida Sans Unicode";
  font-size: 16pt;
}
#forum {
  background-color: white;
  font-family:'Cookie';
  font-size: 35pt;
}

.submit {
  font-family:'Cookie';
  font-size: 18pt;
  float: right;
  margin: 20pt;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.submit:hover {
  color: #000000;
}

.container {
  padding:10pt;

}

.postTitle {
  font-family: "Cookie";
  font-size:24pt;
  margin-bottom: 5pt;
}

.textarea {
  font-family: "Lucida Sans Unicode";
  font-size: 12pt;
  margin-bottom: 10pt;

}

.type{
  margin-top: 8pt;
      width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color:black;
}

.row-fluid {
  padding:0px;
  max-height: 0px;
  border-radius:0px;
  border: 1px solid white;
  box-shadow: none;
  margin-bottom: none;

}
.btn {
  text-transform: lowercase;
  padding: none;
  margin:none;

}


.optional {  
  margin: 5px;
    font-family: "Lucida Sans Unicode";
    color: #ffffff;
  font-size: 12pt !important;
}

.optionaltitles {
  font-size: 18pt;

}
.info{
  font-family: "Lucida Sans Unicode";
  font-size:14pt;
  padding: 5px;
}