/* CSS declarations go here */
body {
    /*padding: 60px;*/
}

.header {
	color: #fff;
}

nav {
  height: 100px;
}


.card-image, .card-image img {
	position: relative;
}

.next-chat {
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.next-chat.not-available {
	background-color: #FF0000;
}

.brand-font {
  font-family: 'Cookie', cursive;
  font-size: 72pt;
}

#brand-logo {
  margin-top: 16px;
  margin-right: 10px;
  font-size: 32pt;
}

.navbar {
	font-size: 24pt;
	margin-top: 16px;
	font-family: 'Cookie'
}
.main-cardlist .card {
	width: 22%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 20px;
}

.login-link-text {
	font-size: 30px;
	text-decoration: none !important;
}

.main-cardlist .card.small .card-content {
	padding: 12px;
}

.score, .voting {
	float: left;
	width: 50%;
}

.controls-wrapper {
	margin-bottom: 10px;
}


.jumbotron {
	font-family:"Lucida Sans Unicode";
}

/*.sign-in-font {
	font-size: 16pt ;
	font-family:"Arial Black";
}*/
